body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.hideBram{
	visibility: hidden;
}


.panel-body img{
	width: 225px;
	float:left;
	padding-right: 20px;
}

a, a:hover, a:active, a:visited, a:link{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #111111;
  text-decoration: none;
};